<head>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="ご当地うどん診断" />
<meta name="twitter:description" content="あなたにあったご当地うどんを診断しよう!" />
<meta name="twitter:image" content="https://udon-shindan.onrender.com/UDONcard.jpg" />
</head>

<div class="flex flex-col space-y-2 items-center">
  <%= "診断結果" %>
  <% @posts.each do |t| %>
    <% if t.number == @result %>
      <div class="your_udon">
        あなたにおすすめのご当地うどんは、<%= t.content %>です。
        <br>
        地域：<%= t.region %>
        <br>
        詳細：<%= t.info %>
        <br>
        <%= @result.inspect %>
      </div>

      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
      class="twitter-share-button" 
      data-text="ご当地うどん診断の結果は、<%= t.content %>でした！！ ▼あなたもご当地うどん診断やってみてね！" 
      data-url="https://udon-shindan.onrender.com" 
      data-hashtags="ご当地うどん診断" 
      data-show-count="false"></a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  <% end %>
<% end %>
