<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ご当地うどん診断" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="ご当地うどん診断" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://udon-shindan.onrender.com" />
    <meta property="og:description" content="あなたにあったご当地うどんを診断しよう!" />
    <meta property="og:image" content="https://udon-shindan.onrender.com/UDONcard.png" />
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="bg-primary text-white p-5">
      <div class="flex flex-row space-x-2 container mx-auto">
        <div class="text-2xl font-bold">
          <%= link_to 'ご当地うどん診断', root_path %>
        </div>
    </header>

    <main class="flex-grow container text-center mx-auto flex-grow">
      <%= yield %>
    </main>

    <footer class="bg-base-200 neutral-content text-brown text-center p-4 mt-8 mt-auto" >
      <p>2024 RUNTEQ_festival.5</p>
    </footer>
  </body>
</html>
